* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "DM Sans", sans-serif;
  font-weight: 500;
}

#component-one {
  margin-bottom: 150px;
}
#component-one .card-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
}
#component-one .card-heading {
  text-align: center;
  margin-bottom: 70px;
}
#component-one .card-heading h4 {
  font-size: 1rem;
  font-weight: 500;
  padding-top: 140px;
}
#component-one .card-heading h1 {
  font-size: 3.1rem;
  font-weight: 500;
}
#component-one .card {
  display: flex;
  flex-wrap: wrap;
  width: 22%;
}
#component-one .card-img {
  position: relative;
  overflow: hidden;
  width: 100%;
}
#component-one .card-img img {
  display: block;
  width: 100%;
  height: auto;
  transition: 1s ease;
}
#component-one .card-img:hover img {
  transform: scale(1.05);
}
#component-one .card-img button {
  position: absolute;
  background: white;
  border: none;
  width: 45%;
  height: 11%;
  left: 50%;
  bottom: 40px;
  transform: translateX(-50%);
  font-size: 1.25rem;
}
@media (max-width: 480px) {
  #component-one .card-heading {
    padding-left: 40px;
    padding-right: 40px;
  }
  #component-one .card-heading h4 {
    font-size: 1rem;
  }
  #component-one .card-heading h1 {
    font-size: 2.6rem;
  }
  #component-one .card-container .card {
    width: 80%;
  }
}
@media (min-width: 481px) and (max-width: 768px) {
  #component-one .card-container .card {
    width: 85%;
  }
  #component-one .card-container .card-img button {
    width: 30%;
    height: 8%;
  }
}
@media (min-width: 769px) and (max-width: 992px) {
  #component-one .card-container .card {
    width: 85%;
  }
  #component-one .card-container .card-img button {
    width: 30%;
    height: 7%;
  }
}
@media (min-width: 993px) and (max-width: 1200px) {
  #component-one .card-container .card {
    width: 25%;
  }
  #component-one .card-container .card-img button {
    width: 60%;
    height: 16%;
  }
}
@media (min-width: 1201px) and (max-width: 1440px) {
  #component-one .card-container .card {
    width: 25%;
  }
  #component-one .card-container .card-img button {
    width: 60%;
    height: 14%;
  }
}

#component-two {
  margin-bottom: 150px;
}
#component-two .card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
#component-two .card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
  width: 20%;
  height: auto;
}
#component-two .card-img {
  position: relative;
  overflow: hidden;
  width: 100%;
}
#component-two .card-img img {
  display: block;
  width: 100%;
  height: auto;
  object-fit: cover;
  transition: transform 0.5s ease;
  transform: scale(1.2);
}
#component-two .card-img:hover img {
  transform: scale(1.2) translateX(10px);
}
#component-two .card-img p {
  font-size: 3.1rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-weight: 500;
}
@media (max-width: 480px) {
  #component-two .card-container .card {
    width: 100%;
  }
  #component-two .card-container .card p {
    font-size: 3.1rem;
  }
}
@media (min-width: 481px) and (max-width: 768px) {
  #component-two .card-container .card {
    width: 100%;
  }
  #component-two .card-container .card p {
    font-size: 4.3rem;
  }
}
@media (min-width: 769px) and (max-width: 992px) {
  #component-two .card-container .card {
    width: 100%;
  }
  #component-two .card-container .card p {
    font-size: 4.3rem;
  }
}
@media (min-width: 993px) and (max-width: 1200px) {
  #component-two .card-container .card {
    width: 20%;
  }
  #component-two .card-container .card p {
    font-size: 3.1rem;
  }
}
@media (min-width: 1441px) and (max-width: 1680px) {
  #component-two .card-container .card {
    width: 33.3%;
  }
  #component-two .card-container .card p {
    font-size: 3.1rem;
  }
}
@media (min-width: 1681px) {
  #component-two .card-container .card {
    width: 20%;
  }
  #component-two .card-container .card p {
    font-size: 3.1rem;
  }
}

#component-three {
  margin-bottom: 150px;
}
#component-three .card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 30px;
  text-align: center;
}
#component-three .card-heading {
  text-align: center;
  margin-bottom: 70px;
}
#component-three .card-heading h4 {
  font-size: 1rem;
  font-weight: 500;
}
#component-three .card-heading h1 {
  font-size: 3.1rem;
  font-weight: 500;
}
#component-three .card {
  width: 630px;
  height: 450px;
  background: #e3e3e3;
  position: relative;
  overflow: hidden;
}
#component-three .card .card-img {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
}
#component-three .card img {
  width: 50%;
  height: auto;
  object-fit: cover;
  position: absolute;
  bottom: 0;
  right: 0;
  transform: translate(-50%, -50%);
  transition: 0.3s ease;
  transform: scale(1.04);
}
#component-three .card img:hover {
  transform: scale(1);
}
#component-three .card .view-more {
  width: fit-content;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 10px;
  margin: 40px;
}
#component-three .card .view-more p {
  font-size: 2.25rem;
  font-weight: 500;
  z-index: 1;
}
#component-three .card .view-more span {
  display: flex;
  align-items: center;
  position: relative;
  cursor: pointer;
}
#component-three .card .view-more button {
  border: none;
  background: transparent;
  font-size: 1rem;
  position: relative;
}
#component-three .card .view-more button::after {
  content: "";
  position: absolute;
  width: 100%;
  left: 0;
  bottom: -4px;
  height: 1px;
  background-color: black;
  transition: 0.3s ease;
}
#component-three .card .view-more button:hover::after {
  width: 0;
}
#component-three .card .view-more i {
  font-size: 1.2rem;
  margin-left: 8px;
  transition: transform 0.3s ease;
}
#component-three .card .view-more i:hover {
  transform: translateX(5px);
}
@media (max-width: 480px) {
  #component-three .card-container .card {
    width: 400px;
    height: 340px;
  }
  #component-three .card-container .card img {
    width: 62%;
  }
}
@media (min-width: 481px) and (max-width: 768px) {
  #component-three .card-container .card {
    width: 650px;
    height: 390px;
  }
  #component-three .card-container .card img {
    width: 45%;
  }
}
@media (min-width: 769px) and (max-width: 992px) {
  #component-three .card-container .card {
    width: 780px;
    height: 480px;
  }
  #component-three .card-container .card img {
    width: 46%;
  }
}
@media (min-width: 993px) and (max-width: 1200px) {
  #component-three .card-container .card {
    width: 460px;
    height: 300px;
  }
  #component-three .card-container .card img {
    width: 48%;
  }
}
@media (min-width: 1201px) and (max-width: 1440px) {
  #component-three .card-container .card {
    width: 540px;
    height: 380px;
  }
  #component-three .card-container .card img {
    width: 52%;
  }
}
#component-four {
  margin-bottom: 150px;
}
#component-four .card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
  text-align: center;
  width: 100%;
  position: relative;
}
#component-four .card-heading {
  text-align: center;
  margin-bottom: 70px;
}
#component-four .card-heading h4 {
  font-size: 1rem;
  font-weight: 500;
}
#component-four .card-heading h1 {
  font-size: 3.1rem;
  font-weight: 500;
}
#component-four .card {
  width: 30%;
  height: auto;
  background: #f6f6f6;
  position: relative;
  overflow: hidden;
  aspect-ratio: 1.6;
}
#component-four .card:hover .card-img img {
  opacity: 0.7;
}
#component-four .card .card-img {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
#component-four .card .card-img img {
  width: 40%;
  height: auto;
  object-fit: cover;
  position: absolute;
  bottom: 10%;
  right: 10%;
  transition: 0.5s ease;
}
#component-four .card .view-more {
  position: absolute;
  bottom: 20px;
  left: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  padding: 20px;
}
#component-four .card .view-more p {
  font-size: 2.25rem;
  font-weight: 500;
  margin: 0;
}
#component-four .card .view-more span {
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
}
#component-four .card .view-more button {
  border: none;
  background: transparent;
  font-weight: 500;
  position: relative;
}
#component-four .card .view-more button::after {
  content: "";
  position: absolute;
  width: 100%;
  left: 0;
  bottom: -4px;
  height: 1px;
  background-color: black;
  transition: 0.3s ease;
}
#component-four .card .view-more button:hover::after {
  width: 0;
}
#component-four .card .view-more i {
  font-size: 1.2rem;
  margin-left: 1px;
  transition: transform 0.3s ease;
}
#component-four .card .view-more i:hover {
  transform: translateX(5px);
}
@media (max-width: 480px) {
  #component-four .card-container .card {
    width: 100%;
    height: auto;
  }
  #component-four .card-container .view-more p {
    font-size: 1.6rem;
  }
  #component-four .card-container .view-more button {
    font-size: 1rem;
  }
  #component-four .card-container .view-more i {
    font-size: 1rem;
    font-weight: 700;
  }
}
@media (min-width: 481px) and (max-width: 768px) {
  #component-four .card-container .card {
    width: 100%;
    height: auto;
  }
  #component-four .card-container .view-more p {
    font-size: 1.6rem;
  }
  #component-four .card-container .view-more button {
    font-size: 1rem;
  }
  #component-four .card-container .view-more i {
    font-size: 1rem;
    font-weight: 700;
  }
}
@media (min-width: 769px) and (max-width: 992px) {
  #component-four .card-container .card {
    width: 100%;
    height: auto;
  }
  #component-four .card-container .view-more {
    padding: 15px;
  }
  #component-four .card-container .view-more p {
    font-size: 1.6rem;
  }
  #component-four .card-container .view-more button {
    font-size: 1rem;
  }
  #component-four .card-container .view-more i {
    font-size: 1rem;
  }
}
@media (min-width: 993px) and (max-width: 1200px) {
  #component-four .card-container .card {
    width: 31.5%;
    height: auto;
  }
  #component-four .card-container .view-more p {
    font-size: 1.6rem;
  }
  #component-four .card-container .view-more button {
    font-size: 1rem;
  }
  #component-four .card-container .view-more i {
    font-size: 1rem;
    font-weight: 700;
  }
}
@media (min-width: 1201px) and (max-width: 1440px) {
  #component-four .card-container .card {
    width: 31.7%;
    height: auto;
  }
  #component-four .card-container .card .card-img img {
    bottom: 15%;
  }
  #component-four .card-container .view-more p {
    font-size: 1.6rem;
  }
  #component-four .card-container .view-more button {
    font-size: 1rem;
  }
  #component-four .card-container .view-more i {
    font-size: 1rem;
    font-weight: 700;
  }
}
@media (min-width: 1441px) and (max-width: 1680px) {
  #component-four .card-container .card {
    width: 31.7%;
    height: auto;
  }
  #component-four .card-container .card .card-img img {
    bottom: 15%;
  }
  #component-four .card-container .view-more p {
    font-size: 1.6rem;
  }
  #component-four .card-container .view-more button {
    font-size: 1rem;
  }
  #component-four .card-container .view-more i {
    font-size: 1rem;
    font-weight: 700;
  }
}
@media (min-width: 1681px) {
  #component-four .card-container .card {
    width: 31.7%;
    height: auto;
  }
  #component-four .card-container .card .card-img img {
    bottom: 15%;
  }
  #component-four .card-container .view-more p {
    font-size: 1.6rem;
  }
  #component-four .card-container .view-more button {
    font-size: 1rem;
  }
  #component-four .card-container .view-more i {
    font-size: 1rem;
    font-weight: 700;
  }
}

#component-five {
  margin-bottom: 150px;
}
#component-five .card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
#component-five .card-heading {
  text-align: center;
  margin-bottom: 70px;
}
#component-five .card-heading h4 {
  font-size: 1rem;
  font-weight: 500;
}
#component-five .card-heading h1 {
  font-size: 3.1rem;
  font-weight: 500;
}
#component-five .card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
  width: 25%;
  height: auto;
}
#component-five .card-img {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: auto;
}
#component-five .card-img img {
  display: block;
  width: 100%;
  height: auto;
  object-fit: cover;
  transform: scale(1.05);
  transition: transform 0.5s ease;
}
#component-five .card-img:hover img {
  transform: scale(1);
}
#component-five .card-img p {
  font-size: 2.75rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-weight: 500;
}
@media (max-width: 480px) {
  #component-five .card {
    width: 85%;
  }
  #component-five .card .card-img {
    width: 100%;
  }
}
@media (min-width: 481px) and (max-width: 768px) {
  #component-five .card {
    width: 85%;
  }
  #component-five .card .card-img {
    width: 100%;
  }
}
@media (min-width: 769px) and (max-width: 992px) {
  #component-five .card {
    width: 78%;
  }
  #component-five .card .card-img {
    width: 100%;
  }
}

/*# sourceMappingURL=style.css.map */
